<%- include('templates/header'); %>


    <body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
        <div class="wrapper">

            <!-- Preloader -->
            <!-- <div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__shake" src="dist/img/CluedIn.png" alt="DBIT" height="120" width="412">
            </div> -->

            <!-- Navbar -->
            <%- include('templates/navbar'); %>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                <%- include('templates/sidebar'); %>    
                    <style>
                       /* input[type="file"]{
                        display: none;
                       } */
                       .opbtn{
                            width: 100%;
                            display:inline-block;
                            text-transform: uppercase;
                            color: #fff;
                            background: #3f6791;
                            text-align: center;
                            padding: 15px 40px;
                            font-size: 18px;
                            letter-spacing: 1.5px;
                            user-select: none;
                            cursor: pointer;
                            box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
                            border-radius: 10px;
                        }
                        label:active{
                            transform: scale(0.9);
                        }
                    </style>
                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <div class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1 class="m-0">Events Page </h1>
                                    </div><!-- /.col -->
                                    <div class="col-sm-6">
                                        <ol class="breadcrumb float-sm-right">
                                            <li class="breadcrumb-item"><a href="#">Event</a></li>
                                            <li class="breadcrumb-item active">DBIT Dashboard</li>
                                        </ol>
                                    </div><!-- /.col -->
                                </div><!-- /.row -->
                            </div><!-- /.container-fluid -->
                        </div>
                        <!-- /.content-header -->





                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <div class="card card-primary card-tabs">
                                    <div class="card-header p-0 pt-1">
                                        <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="custom-tabs-two-home-tab"
                                                    data-toggle="pill" href="#create-notification" role="tab"
                                                    aria-controls="custom-tabs-two-home" aria-selected="true">Create</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="custom-tabs-two-profile-tab" data-toggle="pill"
                                                    href="#listEvents" role="tab" aria-controls="custom-tabs-two-profile"
                                                    aria-selected="false">List
                                                    Events</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="custom-tabs-two-messages-tab" data-toggle="pill"
                                                    href="#custom-tabs-two-messages" role="tab"
                                                    aria-controls="custom-tabs-two-messages"
                                                    aria-selected="false">Scheduled</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content" id="custom-tabs-two-tabContent">
                                           <span> <% if(eventMsg.length>0){ %>
                                                <div id="successMessage" style="position: absolute;width: 80%;" class="alert alert-success">
                                                    <%= eventMsg %>
                                                </div>
                                                <% } %>
                                            </span>
                                            <div class="tab-pane fade active show" id="create-notification" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">                        
                                                        <!-- creating form -->
                                                <form id="quickform" name="event-form" method="post" action="/postevent" enctype="multipart/form-data" onsubmit="return Notifvalidate()">
                                                    <!--action looks for index.html -->
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label for="eventTitle">Event Title*</label>
                                                            <input type="text" class="form-control" id="eventTitle" placeholder="Enter title" name="event_title" maxlength="30" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Notification Message (personalised message- to be shown in the Notification)*</label>
                                                            <textarea class="form-control" rows="3" name="event_notif_desc" placeholder="Enter ..." required></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Event Description *</label>
                                                            <textarea class="form-control" rows="3" name="event_desc" placeholder="Enter ..." required></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Schedule:</label>
                                                            <div class="input-group date" id="reservationdate" data-target-input="nearest" style="width: 40%;">
                                                                <input type="date" class="form-control datetimepicker-input" data-target="#reservationdate" name="scheduled_date" id="notifMsgScheduleDate" onclick="notifMsgScheduleHandler();">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Expiry Date:</label>
                                                            <div class="input-group date" id="reservationdate" data-target-input="nearest" style="width: 40%;">
                                                                <input type="date" class="form-control datetimepicker-input" data-target="#reservationdate" name="expiry_date" id="notifMsgExpiryDate" onclick="notifMsgExpiryHandler();">
                                                            </div>
                                                        </div>

                                                                <!-- target class -->
                                                                <!-- <div class="form-group">


                                                                    <label>Target Class (*press ctrl key to select
                                                                        multiple
                                                                        fields)</label>
                                                                    <select style="height: 15rem;width:15rem ;"
                                                                        class="form-control" tabindex="-1" id="slct1"
                                                                        aria-hidden="true" name="target_class"
                                                                        placeholder="select category"
                                                                        onchange="populate('slct1','slct2')" multiple
                                                                        required>

                                                                        <option selected="selected" value="0">
                                                                            ALL
                                                                        </option>
                                                                        
                                                                    </select>

                                                                </div> -->

                                                                 <!-- target class ends  -->
                                                                <!-- target gender  -->
                                                                <!-- <div class="form-group">
                                                                    <label>Gender</label>
                                                                    <select class="form-control " style="width: 15rem;"
                                                                        tabindex="-1" id="slct3" aria-hidden="true"
                                                                        name="user_gender" placeholder="select Gender"
                                                                        required>
                                                                        <option selected="selected" value="0">
                                                                            All
                                                                        </option>
                                                                        <option value="1">
                                                                            Male
                                                                        </option>
                                                                        <option value="2">Female</option>
                                                                        <option value="3">Other</option>
                                                                    </select>

                                                                </div> -->
                                                                  <!-- target gender ends  -->
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Event Organiser</label>
                                                                    <select class="form-control " style="width: 15rem;" tabindex="-1" aria-hidden="true" name="oraganiser" placeholder="select label type" id="eventLabel" required>
                                                                        <option value="0">Select organiser</option>
                                                                        <% for( let index = 0; index < event_organiser.length; index++ ) { %>
                                                                            <option value="<%= event_organiser[index].sb_id %>">
                                                                                <%= event_organiser[index].sb_name %>
                                                                            </option>
                                                                        <% } %>
                                                                    </select>
                                                                </div>
                                                            </div> 
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Event Label</label>
                                                                    <select class="form-control " style="width: 15rem;" tabindex="-1" aria-hidden="true" name="event_label" placeholder="select label type" id="eventLabel" required>
                                                                        <option value="0">Select Label</option>
                                                                        <% for (let count=0; count <event_label.length; count++) { %>
                                                                            <option value="<%= event_label[count].el_id %>">
                                                                                <%= event_label[count].el_name%>
                                                                            </option>
                                                                        <%} %>
                                                                    </select>
                                                                </div>
                                                            </div> 
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label for="eventTitle">Event Fees</label>
                                                                    <input type="number" class="form-control" placeholder="Enter Fees" name="event_fees" maxlength="30" required>
                                                                </div>
                                                            </div>                                                                 
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Image URL:</label>
                                                                    <div class="input-group " style="width: 100%; ">
                                                                        <input type="file" name="event_img" class="form-control" accept=".jpep,.png,.jpg" id="notifImgUrl" onchange="preview_notifImg_handler(event)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Attachement URL:</label>
                                                                    <div class="input-group " style="width: 100%; ">
                                                                        <input type="file" name="event_attachment" class="form-control" accept=".doc,.pdf" id="notifAttachmentUrl">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label>Registration Link:</label>
                                                                    <div class="input-group " style="width: 100%; ">
                                                                        <input type="url" class="form-control" id="notifRegistrationUrl" placeholder="registration url" name="event_reg_url">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>                                                    
                                                    </div>
                                                    <div class="card-footer">
                                                        <button type="submit"
                                                            class="btn btn-primary">Create Event</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- OM YAHA  DAAL FORM  -->
                                            <div class="tab-pane fade" id="listEvents" role="tabpanel" aria-labelledby="custom-tabs-two-profile-tab">
                                                <!-- inside list notif div  -->                                                                                               
                                                    <div class="card-body table-responsive p-0 container-fluid"
                                                        style="height: 100%;">
                                                        <h1>List Events</h1>
                                                    </div>
                                            </div>
                                            <div class="tab-pane fade" id="custom-tabs-two-messages" role="tabpanel" aria-labelledby="custom-tabs-two-messages-tab">
                                                <h3>Work Under Construction!!!</h3>
                                            </div>
                                        </div>                                                                
                                    </div>                                   
                                </div>
                                <!-- Main Footer -->
                                <footer class="main-footer">
                                    <strong>Copyright &copy; 2022-2023 <a href="">CluedIn</a>.</strong>
                                    All rights reserved.
                                    <div class="float-right d-none d-sm-inline-block">
                                        <b>Version</b> 1.0.0
                                    </div>
                                </footer>
                            </div>
                        </section>
                        
                            <!-- REQUIRED SCRIPTS -->
                            
                        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                                crossorigin="anonymous"></script>
                        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
                        <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
                        <!-- jQuery -->
                        <!-- <script src="plugins/jquery/jquery.min.js"></script> -->
                        <!-- Bootstrap -->
                        <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
                        <!-- overlayScrollbars -->
                        <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
                        <!-- AdminLTE App -->
                        <script src="dist/js/adminlte.js"></script>

                        <!-- PAGE PLUGINS -->
                        <!-- jQuery Mapael -->
                        <script src="plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
                        <script src="plugins/raphael/raphael.min.js"></script>
                        <script src="plugins/jquery-mapael/jquery.mapael.min.js"></script>
                        <script src="plugins/jquery-mapael/maps/usa_states.min.js"></script>
                        <!-- ChartJS -->
                        <script src="plugins/chart.js/Chart.min.js"></script>

                        <!-- AdminLTE for demo purposes -->
                        <script src="dist/js/demo.js"></script>
                        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
                        <script src="dist/js/pages/dashboard2.js"></script>
                        <!-- <script src="./plugins/jquery/jquery.min.js"></script> -->
                        <script>
                            $(document).ready(function(){
                                setTimeout(function() {
                                 $("#successMessage").css("visibility", "hidden");
                             }, 5000);
                            });
                        </script>
    </body>

</html>