<%- include('templates/header'); %>

    <body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
        <div class="wrapper">

            <!-- Preloader -->
            <!-- <div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__shake" src="dist/img/CluedIn.png" alt="DBIT" height="120" width="412">
            </div> -->

            <!-- Navbar -->
            <%- include('templates/navbar'); %>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                <%- include('templates/sidebar'); %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <div class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1 class="m-0">Profile Page </h1>
                                    </div><!-- /.col -->
                                    <div class="col-sm-6">
                                        <ol class="breadcrumb float-sm-right">
                                            <li class="breadcrumb-item"><a href="#">Profile</a></li>
                                            <li class="breadcrumb-item active">DBIT Dashboard</li>
                                        </ol>
                                    </div><!-- /.col -->
                                </div><!-- /.row -->
                            </div><!-- /.container-fluid -->
                        </div>
                        <!-- /.content-header -->





                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">

                                <!-- Nav Tabs inside card header -->

                                <div class="card card-primary card-tabs">

                                    <div class="card-body">
                                        <div class="row">

                                            <div style="display: flex; align-items: center; justify-content: center;"
                                                class="col-4">
                                                <img height="300px" width="300px" class="img-fluid img-circle"
                                                    src="<%= profileData.user_profilePic %>" alt="User profile picture">
                                            </div>

                                            <div class="col-8">
                                                <div class="card-body box-profile">

                                                    <h3 class="profile-username text-center">
                                                        <span id="fname"><%= profileData.user_fname %></span>
                                                            <span id="lname">
                                                                <%= profileData.user_lname %>
                                                            </span>
                                                    </h3>
                                                    <p class="text-muted text-center">
                                                        <%= profileData.role_name %>
                                                    </p>
                                                    <ul class="list-group list-group-unbordered mb-3">
                                                        <li class="list-group-item">
                                                            <p class="text-muted text-center"><b>Email :</b>
                                                                    <%= profileData.user_email %>
                                                            </p>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <p class="text-muted text-center"><b>Mobile no. :</b>
                                                                <%= profileData.user_mobno %>
                                                            </p>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <p class="text-muted text-center"><b>Address : </b>
                                                                <span id="addr">
                                                                    <%= profileData.user_addr %>
                                                                </span>
                                                            </p>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <p class="text-muted text-center"><b>Branch : </b>
                                                                <%= profileData.branch_name %>
                                                            </p>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <p class="text-muted text-center"><b>Gender : </b>
                                                                <% if (profileData.user_gender=="0" ) { %>
                                                                    <span>Female</span>
                                                                    <% } else if(profileData.user_gender=="1" ) { %>
                                                                        <span>Male</span>
                                                                        <% } %>
                                                            </p>
                                                        </li>
                                                    </ul>
                                                    <button class="btn btn-primary btn-block edit"><b>Edit</b></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!--modal-->
                                <div class="modal" id="action_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">

                                        <div class="modal-content">
                                            <form method="post" action="/profile" id="sample_form">

                                                <div class="modal-header" id="dynamic_modal_title">
                                                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="mb-3">
                                                        <label class="col-form-label">First Name</label>
                                                        <input type="text" class="form-control" name="user_fname"
                                                            id="first_name">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="col-form-label">Last Name</label>
                                                        <input type="text" class="form-control" name="user_lname"
                                                            id="last_name">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="col-form-label">Address</label>
                                                        <textarea class="form-control" id="address"
                                                            name="user_addr"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="hidden" name="id" id="id">
                                                    <input type="hidden" name="action" id="action" value="Add">
                                                    <button type="button" class="btn btn-secondary closed"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary Update"
                                                        id="action_button">Add</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>



                                <!-- Main Footer -->
                                <footer class="main-footer">
                                    <strong>Copyright &copy; 2022-2023 <a href="">CluedIn</a>.</strong>
                                    All rights reserved.
                                    <div class="float-right d-none d-sm-inline-block">
                                        <b>Version</b> 1.0.0
                                    </div>
                                </footer>
                            </div>
                            <!-- ./wrapper -->

                            <!-- REQUIRED SCRIPTS -->
                            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
                            <script>
                                $(document).on('click', '.edit', function () {
                                    var id = $(this).data('id');

                                    // console.log(id);
                                    // var mobno = $('mobile_num');

                                    $('#dynamic_modal_title').text('Edit Data');

                                    $('#action').val('Edit');

                                    $('#action_button').text('Edit');

                                    $('#action_modal').modal('show');

                                    let fname = document.getElementById("fname").innerText;
                                    let lname = document.getElementById("lname").innerText;
                                    let addr = document.getElementById("addr").innerText;
                                    $('#first_name').val(fname);
                                    $('#last_name').val(lname);
                                    $('#address').val(addr);
                                });

                            </script>
                            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                                crossorigin="anonymous"></script>
                            <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
                            <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
                            <!-- jQuery -->
                            <!-- <script src="plugins/jquery/jquery.min.js"></script> -->
                            <!-- Bootstrap -->
                            <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
                            <!-- overlayScrollbars -->
                            <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
                            <!-- AdminLTE App -->
                            <script src="dist/js/adminlte.js"></script>

                            <!-- PAGE PLUGINS -->
                            <!-- jQuery Mapael -->
                            <script src="plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
                            <script src="plugins/raphael/raphael.min.js"></script>
                            <script src="plugins/jquery-mapael/jquery.mapael.min.js"></script>
                            <script src="plugins/jquery-mapael/maps/usa_states.min.js"></script>
                            <!-- ChartJS -->
                            <script src="plugins/chart.js/Chart.min.js"></script>

                            <!-- AdminLTE for demo purposes -->
                            <script src="dist/js/demo.js"></script>
                            <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
                            <script src="dist/js/pages/dashboard2.js"></script>
                            <!-- <script src="./plugins/jquery/jquery.min.js"></script> -->


    </body>

    </html>